.modal {
  margin: auto;
  align-self: center;
  background-color: white;
  font-size: 12px;
  padding: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2); 
  z-index: 100;
  display: flex;
  padding:40px;
  box-sizing: border-box;
}